 <!-- Import APlayer -->
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.9.0/dist/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.9.0/dist/APlayer.min.js"></script>
<!-- Import meting.js -->
<script src="https://cdn.jsdelivr.net/npm/meting@1.1.1/dist/Meting.min.js"></script>


<div
class="aplayer"
data-id="22680660"
data-server="netease"
data-type="song"
data-autoplay="song"
data-mutex="true"
data-mini="false"
data-theme="#b7daff"
data-loop="none">
</div>
