<footer class="container">
    <hr class="soften">
    {{ partial "aplayer.html" . }}
    <div class="text-center">
        {{ with .Site.Params.github }}<a href="{{ . }}">Github | </a> {{ end }}
        {{ with .Site.Params.gitee }}<a href="{{ . }}">Gitee | </a> {{ end }}
        {{ with .Site.Params.blog }}<a href="{{ . }}">Blog | </a> {{ end }}
        {{ with .Site.Params.bilibili }}<a href="{{ . }}">Bilibili</a> {{ end }}

    </div>
    <div class="text-center">
        {{- partial "copyright.html" . -}}
    </div>
</footer>

