{{ partial "header.html" . }}
<link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>

<div class="container">
    <div id="aplayer"></div>
</div>
<main>
{{ .Content }}
</main>

<script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    audio: [
        {
            name: '{{.Params.song}}',
            artist: '{{.Params.artist}}',
            url: '{{.Params.songUrl}}',
            cover: '{{.Params.songCover}}',
        }
    ]
});
</script>

{{ partial "footer.html" . }}
