<div class="container">
    <div id="aplayer"></div>
</div>
<script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    autoplay: true,
    loop: 'all',
    preload: 'auto',
    listFolded: false,
    audio: [
        {{ range $s := .Params.songs }}
            {
                name: '{{$s.song}}',
                artist: '{{$s.artist}}',
                url: '{{$s.songUrl}}',
                cover: '{{$s.songCover}}',
            },
        {{ end }}
    ]
});
</script>